$BodyBgCol: #191919;
$NavBgCol: #212121;
$SearchBarBgCol: #212121;
$SearchBarTextCol: #666666;
$NavTextCol: #666666;
$NavTextColActive: #3DD2CC;


$mainTextColLight: #E8E8E8;
$mainTextColDark: #666666;
