@import "src/globals/vars";

.icon {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  overflow: hidden;
  background-color: $NavBgCol;
  display: flex;
  align-items: center;
  justify-content: center;


  .image {
    font-size: 30px;
    color: $NavTextCol;
  }
}