@import "src/globals/vars";

.container {
  width: 100%;
  position: relative;
  color: $mainTextColLight;


}


.heading {

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;


  h2 {
    font-weight: 600;
    font-size: 25px;
  }

  span {
    font-weight: 600;
    font-size: 15px;
    color: $mainTextColDark;
  }
}

.films {

}



.containerMovies {
  button {

  }

  .movie {
    max-width: 320px;
    padding: 0 8px;
    flex-shrink: 0;
    margin-right: 20px;
  }

  @media screen and (max-width: 7500px) {

    .movie {
      max-width: 550px;
      padding: 0 8px;
    }
  }
}