@import "src/globals/vars";

.genre {
  padding: 10px 0;
  text-transform: capitalize;
  color: #fff;
  text-align: center;
  a {

    &:hover {
      color: $mainTextColAccent;
      text-decoration: underline;

      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  }
}

.genreChar {
  text-align: center;
  font-size: 30px;
  color: #3DD2CC;
  margin-bottom: 10px;
}

.genreList {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  flex-direction: column;
  flex-wrap: wrap;



  @media screen and (max-width: 900px) {
    height: 900px;
  }

  @media screen and (max-width: 700px) {
    height: 1100px
  }
  //overflow: hidden;
}