.container {
  width: 100%;

  h2 {
    margin-bottom: 20px;
    font-size: 30px;
  }
}

.series {
  display: flex;

  max-width: 100%;
  flex-wrap: wrap;
  &>*:not(:last-child) {
    margin-right: 20px;
    margin-bottom: 30px;
  }
}