@import "src/globals/vars";


.container {
  display: grid;
  grid-template: 1fr / repeat(6,200px);
  grid-auto-flow: row;
  width: 100%;
  max-width: 900px;
  grid-gap: 15px;
  color: $mainTextColLight;

  //
  //&>*:not(:last-child) {
  //  margin-bottom: 40px;
  //}
}