@import "../../../globals/vars";



$zi-search_overflow: 90;
$zi-search_block: 91;
.searchBarContainer {
  z-index: $zi-search_block;
  padding: 15px 35px;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 30px;
  background-color: $SearchBarBgCol;
  color: $SearchBarTextCol;
  font-size: 25px ;

  @media screen and (max-width: 560px) {
    font-size: 18px;
  }

  input {
    background-color: transparent;
    width: 100%;
    border: none;
    color: $SearchBarTextCol;
    font-weight: bold;
  }



  .icon {
    margin-right: 20px;
  }

  position: relative;
}

.input__active {
  border-radius: 30px 30px 0px 0px ;
}

.results {
  background-color: $SearchBarBgCol;
  z-index: 16;

  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 30px 30px;


  .result__item {
    display: flex;
    padding: 10px 25px;
      border-top: 1px solid gray;


  }


  h4 {
    font-size: 25px;
    .star {
      margin-left: 10px;
      color: #ddb114;
      margin-right: 10px;
    }
  }


  .item__cover {
    height: 90px;
  }

  .item__description {
    padding-left: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.overflow {
  top: 0;
  right: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  opacity: 0.8;
  z-index: $zi-search_overflow;
}

.close {
  font-size: 30px;

  &:hover {
    color: white;
  }
}