.films {
  margin-top: 30px;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.heading {
  font-size: 35px;
  color: #fff;
  margin-bottom: 40px;
}