@import "src/globals/vars";

/* Chrome, Safari, Edge, Opera */
.inputPrice {
  color: white;
}

input.inputPrice::-webkit-outer-spin-button,
input.inputPrice::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.inputPrice  {
  -moz-appearance: textfield;
}

.container {
  width: 550px;
  max-width: 100%;
   display: flex;
  padding: 10px 15px;
  padding-bottom: 20px;
  flex-direction: column;
  border: 1px solid $mainTextColAccent;
  border-radius: 15px;
  &>*:not(:last-child) {
    margin-bottom: 15px;
  }

  color: $mainTextColLight;
}

.yearSlider {
  padding: 10px 0;
  display: flex;
  align-items: center;

  span {
    align-self: center;
    margin-right: 10px;
  }

  input {
    color: $mainTextColAccent;
    align-self: stretch;
    min-width: 50px;

  }
}

.toggleDirection {
  color: $mainTextColAccent;
  font-size: 30px;
}

.genreSelect {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.04);

  border-radius: 5px;
  overflow: hidden;
  select {
    color: inherit;
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    overflow: hidden;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  option {
    background-color: #222222;
  }
}